

/*Modif Node-Red*/
/* .red-ui-editor #j-toolbar #toolbar-deploy {
    position: absolute;
    top: 37px;
	right: 96px;
    left: 1000px;
    width: 18%;
    height: 40px;
    background: #000;
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    color: #C7C7C7;
    font-size: 14px;
} */

#body .red-ui-editor {
	line-height: 0px;
}

.red-ui-tray .red-ui-tray-header .red-ui-tray-toolbar button.primary {
    border-color: #1627ad;
    color: #eee !important;
    background: #142d55;
}

.red-ui-editor #red-ui-main-container {
    position: absolute;
    top: 84px;
    left: 0;
    bottom: 28px;
    right: 0;
    overflow: hidden;
}

.red-ui-editor #red-ui-workspace-chart {
    overflow: auto;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    transition: right 0.2s ease;
}

.red-ui-editor #red-ui-workspace {
    position: absolute;
    margin: 0;
    top: 0px;
    left: 249px;
    bottom: 0px;
    right: 329px;
    overflow: auto;
	border: 1px solid #bbb;
	background: #f8f8f8;
    box-sizing: border-box;
    transition: left 0.1s ease-in-out;
}

.red-ui-editor #red-ui-palette {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: #f3f3f3;
    width: 250px;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #bbb;
    box-sizing: border-box;
	transition: width 0.2s ease-in-out;
	box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.08);
}

.red-ui-palette-closed #red-ui-workspace {
    left: 7px
}

.red-ui-palette-closed #red-ui-palette {
    width: 8px
}

.red-ui-palette-closed #red-ui-palette .red-ui-component-footer {
    display: none
}

.red-ui-palette-closed #red-ui-palette-search {
    display: none
}

.red-ui-palette-closed #red-ui-palette-container {
    display: none
}

.red-ui-editor .red-ui-searchBox-container input.red-ui-searchBox-input {
	border-radius: 0;
    border: none;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 1px 2px 4px 20px;
    margin: 0px;
    height: 25px;
    box-sizing: border-box;
}

.red-ui-editor .red-ui-palette-search {
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center;
    height: 25px;
    padding: 1px;
    border-bottom: 1px solid #bbb;
	box-sizing: border-box;
	background: url(../images/pathway-bg.png) repeat-x;
}

.red-ui-editor .red-ui-component-footer {
    border-top: 1px solid #bbb;
    background: #f3f3f3;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 25px;
    padding: 0 6px;
	user-select: none;
	background: url(../images/pathway-bg.png) repeat-x;
}

.red-ui-editor .red-ui-palette-scroll {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 25px;
    left: 0;
    padding: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

.red-ui-editor .red-ui-searchBox-container i.fa-search {
    position: absolute;
    pointer-events: none;
    left: 1px;
    top: 5px;
}

.red-ui-editor  .red-ui-searchBox-container a {
    position: absolute;
    right: 0;
    top: -4px;
    bottom: 0;
    width: 20px;
    display: none;
}


.red-ui-editor  #red-ui-notifications {
    z-index: 100;
    width: 500px;
    margin-left: -250px;
    left: 50%;
    position: absolute;
    top: 33px;
}


.red-ui-editor #red-ui-sidebar-separator{
    position:absolute;
    top: 0px;
    right:315px;
    bottom:0px;
    width:7px;
    z-index:11;
    background:#f3f3f3 url(../images/grip.png) no-repeat 50% 50%; 
	cursor:col-resize;
	/* box-shadow: -1px 0px 0px 0px rgba(117, 116, 116, 0.33); */
    border-left: 1px solid #bbbbbb;
}

.red-ui-editor .red-ui-searchBox-container input.red-ui-searchBox-input:focus {
	box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.38);
	border-radius: 3px;
}

.red-ui-editor .red-ui-searchBox-container input.red-ui-searchBox-input {
    border-radius: 3px;
    /* border: none; */
    /* width: 100%; */
    /* box-shadow: none; */
    /* -webkit-box-shadow: none; */
    padding: 0px 13px 0px 13px;
    margin: 0px;
    height: 20px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.38);
    background-color: white;
}

/*Modif Deploy */


#j-toolbar #toolbar-deploy #red-ui-header-button-deploy{
	border-radius: 3px 0px 0px 3px;

}
#j-toolbar #toolbar-deploy #red-ui-header-button-deploy-options{
	border-radius: 0px 3px 3px 0px;
}

/* #j-toolbar #toolbar-deploy {
	line-height: 24px;
    margin-right: 4px;
    padding: 0 10px;
} */

#j-toolbar #toolbar-deploy li {
		list-style-type: none;
	}

#j-toolbar #toolbar-deploy a {
    text-decoration: none;
    color: #555;
}

#j-toolbar #toolbar-deploy #j-toolbar #toolbar-deploy-button-deploy.disabled {
    cursor: default;
    background: #444;
    color: #999;
}

#j-toolbar #toolbar-deploy .button-group {
    display: inline-block;
    /* margin: auto 15px; */
    vertical-align: middle;
    /* clear: both; */
}

#j-toolbar #toolbar-deploy .button-group>a {
    display: inline-block;
    position: relative;
    float: left;
    line-height: 19px;
    font-size: 14px;
    text-decoration: none;
    padding: 4px 8px;
    margin: 0;
}



#j-toolbar #toolbar-deploy .button-group{
    display:inline-block;
    /* margin:auto 15px; */
    vertical-align:middle;
    clear:both
}
#j-toolbar #toolbar-deploy .button-group>a{
    display:inline-block;
    position:relative;
    float:left;
    line-height:19x;
    font-size:14px;
    text-decoration:none;
    padding:4px 8px;
    margin:0
}
#j-toolbar #toolbar-deploy .red-ui-deploy-button{
    background:#142d55;
    color:#eee
}
#j-toolbar #toolbar-deploy .red-ui-deploy-button:hover{
    background:#6E0A1E
}
#j-toolbar #toolbar-deploy .red-ui-deploy-button:focus{
    outline:none
}
#j-toolbar #toolbar-deploy .red-ui-deploy-button:active{
    background:#4C0A17;
    color:#ccc
}
#j-toolbar #toolbar-deploy .red-ui-deploy-button-spinner{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    text-align:center
}
#j-toolbar #toolbar-deploy .red-ui-deploy-button-spinner img{
    opacity:0.8;
    height:100%
}
#j-toolbar #toolbar-deploy #j-toolbar #toolbar-deploy-button-deploy{
    padding:4px 12px
}
#j-toolbar #toolbar-deploy #j-toolbar #toolbar-deploy-button-deploy.disabled{
    cursor:default;
    background:#444;
    color:#999
}
#j-toolbar #toolbar-deploy #j-toolbar #toolbar-deploy-button-deploy.disabled .red-ui-deploy-button-content>img{
    opacity:0.3
}
#j-toolbar #toolbar-deploy #j-toolbar #toolbar-deploy-button-deploy.disabled+#j-toolbar #toolbar-deploy-button-deploy-options{
    background:#444;
    color:#ccc
}
#j-toolbar #toolbar-deploy #j-toolbar #toolbar-deploy-button-deploy.disabled+#j-toolbar #toolbar-deploy-button-deploy-options:hover{
    background:#555
}
#j-toolbar #toolbar-deploy #j-toolbar #toolbar-deploy-button-deploy.disabled+#j-toolbar #toolbar-deploy-button-deploy-options:active{
    background:#444
}
#j-toolbar #toolbar-deploy #j-toolbar #toolbar-deploy-button-deploy .red-ui-deploy-button-content>img{
    margin-right:8px
}
#j-toolbar #toolbar-deploy .red-ui-deploy-button-group.open #j-toolbar #toolbar-deploy-button-deploy-options{
    background:#121212 !important
}

/*Modif End Deploy */